@use "../abstracts/mixins";
@use "../abstracts/variables";

.banner {
  &__container {
    @include mixins.flex(flex-start, stretch, 17rem, row);

    background-image: url("/img/decorative/banner-bg.jpg");
    background-size: cover;
    background-position: top;
    padding: 7.4rem 10.4rem;
    width: 100%;
    position: relative;
    box-shadow: variables.$primary-shadow;

    @media screen and (width <= 1024px) {
      padding: 5rem 8rem;
      gap: 8rem;
    }

    @media screen and (width <= 768px) {
      flex-direction: column;
      padding: 3rem 4rem;
      gap: 4rem;
    }

    &::before {
      @include mixins.add-overlay;

      width: 100%;
    }

    & > * {
      z-index: 1;
    }
  }

  &__discount {
    @include mixins.flex(center, center, 0, column);

    flex: 1;

    @media screen and (width <= 768px) {
      align-items: flex-start;
    }
  }

  &__offer {
    @include mixins.flex(flex-end, flex-start, 3rem, column);

    flex: 1;
  }
}
