@use "../abstracts/mixins";
@use "../abstracts/variables";

.benefits {
  background:
    url("../../assets/img/decorative/benefits-lines-bg.png"),
    variables.$primary-grey no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__list {
    list-style-type: none;

    @include mixins.flex(center, center, 4rem);

    row-gap: 1rem;
    margin-top: 3.2rem;

    @media screen and (width <= 1024px) {
      align-items: flex-start;
    }

    @media screen and (width <= 768px) {
      flex-direction: column;
    }
  }

  &__card {
    display: block;

    @include mixins.flex(flex-start, center, 8px);

    @media screen and (width <= 1024px) {
      flex-direction: column;
    }

    @media screen and (width <= 768px) {
      flex-direction: row;
      width: 100%;
    }

    &--1::before {
      @include mixins.add-image-pseudo-element(
        "../../assets/img/decorative/benefit1.png"
      );
    }

    &--2::before {
      @include mixins.add-image-pseudo-element(
        "../../assets/img/decorative/benefit2.png"
      );
    }

    &--3::before {
      @include mixins.add-image-pseudo-element(
        "../../assets/img/decorative/benefit3.png"
      );
    }

    &--4::before {
      @include mixins.add-image-pseudo-element(
        "../../assets/img/decorative/benefit4.png"
      );
    }
  }
}
