@use "../abstracts/mixins";
@use "../abstracts/variables";

.slider {
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__track {
    list-style: none;
    display: grid;
    grid-auto-flow: column;

    --gap: 3.9rem;
    --visible-items: 4;

    @media (width <= 1024px) {
      --visible-items: 3;
    }

    @media (width <= 768px) {
      --visible-items: 2;
    }

    @media (width <= 480px) {
      --visible-items: 1;
    }

    gap: var(--gap);
    grid-auto-columns: calc(
      (100% - (var(--gap) * (var(--visible-items) - 1))) / var(--visible-items)
    );
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    scroll-snap-align: start;
    width: 100%;
    aspect-ratio: 2 / 4;
    transition: transform 0.2s ease-in;
    position: relative;
    text-align: left;

    img {
      @include mixins.responsive-image;
    }

    &:hover {
      @include mixins.scale-card;
    }

    &::before {
      @include mixins.add-overlay;
    }

    @media (width <= 480px) {
      aspect-ratio: 1;
    }
  }

  &__text {
    @include mixins.flex(flex-end, flex-start, 2rem, column);

    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4rem;
  }

  &__control {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 2rem;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    border: none;

    @media (width <= 768px) {
      padding: 1rem;
    }

    & img {
      display: block;
    }

    &.prev {
      left: 0;
      transform: translateX(-30%);
      background-color: variables.$primary-color;
    }

    &.next {
      right: 0;
      transform: translateX(30%);
      background-color: variables.$primary-color;
    }

    &--disabled {
      opacity: 0.3;
      cursor: auto;
    }
  }
}
