@use "../abstracts/mixins";
@use "../abstracts/variables";

.header {
  padding-top: 4.8rem;
  background-color: variables.$primary-white;
  position: sticky;
  top: 0;
  z-index: 100;

  &__top-row {
    @include mixins.flex(space-between, center, 2rem);

    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(variables.$tertiary-grey, 0.2);
    position: relative;
  }

  &__icons {
    display: flex;

    &--social {
      gap: 2.5rem;

      &.mobile {
        display: none;
      }
    }

    &--user {
      gap: 1.5rem;
      align-items: center;
    }
  }

  &__icon {
    display: block;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &--link {
      @include mixins.flex(flex-start, center, 1.3rem);
    }

    &--box {
      @include mixins.flex(center, center);

      background-color: variables.$primary-color;
      border-radius: 6px;
      width: 3.5rem;
      height: 3.5rem;
    }

    &--img {
      display: block;
    }
  }

  &__nav {
    padding: 2.9rem 0 2.4rem;

    &-list {
      @include mixins.flex(center, center, 2.9rem);

      list-style-type: none;
    }

    &-item {
      display: inline-block;

      &--has-dropdown {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        // &::after {
        //   content: "";
        //   width: 1rem;
        //   height: 1rem;
        //   border-right: 2px solid currentColor;
        //   border-bottom: 2px solid currentColor;
        //   transform: rotate(45deg) translateY(-3px);
        //   transition: color 0.2s ease-in;
        // }
      }

      &:hover,
      &:hover .header__nav-link:link,
      &:hover .header__nav-link:visited {
        color: variables.$primary-color;
      }
    }
  }

  &__nav-link:link,
  &__nav-link:visited {
    transition: color 0.2s ease-in;
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.8rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1.5rem;
  }
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: variables.$primary-black;
  border-radius: 2px;
}

.cart {
  &__icon {
    position: relative;
    display: block;

    &:link,
    &:visited {
      color: variables.$primary-color;
    }
  }

  &__count {
    @include mixins.flex(center, center);

    position: absolute;
    top: -15px;
    right: -10px;
    border: 2px solid variables.$primary-color;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: variables.$bold-font-weight;
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media screen and (width <= 768px) {
  .header {
    &__icons {
      &--social.desktop {
        display: none;
      }

      &--social.mobile {
        display: flex;
        justify-content: center;
      }
    }

    &__hamburger {
      display: flex;
    }

    &__logo {
      position: static;
      transform: none;
    }

    &__bottom-row {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: variables.$primary-white;
      padding: 2rem;
      box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 10%);
      z-index: 100;

      &.is-open {
        display: flex;
      }
    }

    &__nav-list {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.5rem;
    }
  }
}
