@use "../abstracts/mixins";

.products-row {
  &__products {
    @include mixins.flex(center, stretch, 3.8rem, row);

    @media screen and (width <= 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: stretch center;
    }

    @media screen and (width <= 768px) {
      grid-template-columns: 1fr;
    }
  }
}
