@use "../abstracts/variables";

body {
  font-family: variables.$default-font-family;
  font-size: variables.$default-font-size;
  font-weight: variables.$default-font-weight;
  color: variables.$primary-black;
}

.header {
  &__logo--text {
    text-transform: uppercase;
    color: variables.$primary-color;
    font-weight: variables.$bold-font-weight;
    font-size: clamp(1rem, 2.5vw + 1rem, 3rem);
  }

  &__nav-link {
    &:link,
    &:visited {
      font-weight: variables.$bold-font-weight;
      font-size: 1.8rem;
      color: variables.$primary-black;
      text-transform: capitalize;
    }

    &--active:link,
    &--active:visited {
      color: variables.$primary-color;
    }
  }
}

.heading-primary {
  font-weight: variables.$black-font-weight;
  font-size: variables.$heading-primary-font-size;
  color: variables.$primary-black;
}

.paragraph {
  line-height: 2.5rem;

  &--grey {
    color: variables.$primary-grey;
  }

  &--light-grey {
    color: variables.$field-border-grey;
  }

  &--white {
    color: variables.$primary-white;
  }

  &--black {
    color: variables.$primary-black;
  }
}

.btn {
  text-transform: capitalize;
  font-family: inherit;
  font-weight: variables.$bold-font-weight;

  &--primary {
    color: variables.$primary-white;
    font-size: clamp(1.1rem, 1.5vw + 1.1rem, 1.8rem);

    &--narrow {
      font-size: clamp(1.1rem, 1.5vw + 1.1rem, 1.7rem);
    }

    &--filter,
    &--cart {
      font-size: variables.$btn-15px;
      text-transform: uppercase;
    }
  }

  &--secondary {
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  &--page.current-page {
    font-size: variables.$btn-15px;
    color: variables.$primary-white;
    line-height: 1.8rem;
  }

  &--tab {
    text-transform: uppercase;
    color: variables.$primary-black;
  }

  &--forgot-pswrd {
    color: variables.$primary-color;
  }
}

.intro__chief {
  &-name {
    font-size: 2rem;
    font-weight: variables.$bold-font-weight;
    padding-bottom: 7px;
  }
}

.heading-secondary {
  font-size: variables.$heading-secondary-font-size;
  font-weight: variables.$black-font-weight;

  &--black {
    color: variables.$primary-black;
  }

  &--white {
    color: variables.$primary-white;
  }
}

.heading-tertiary {
  font-size: variables.$heading-tertiary-font-size;
  font-weight: variables.$bold-font-weight;

  &--black {
    color: variables.$primary-black;
  }

  &--white {
    color: variables.$primary-white;
  }
}

.product-card {
  &__sale {
    color: variables.$primary-white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: variables.$bold-font-weight;
  }

  &__price {
    font-size: variables.$heading-tertiary-font-size;
    font-weight: variables.$bold-font-weight;
    color: variables.$primary-grey;
  }
}

.banner {
  color: variables.$primary-white;

  &__discount {
    &-value {
      font-size: clamp(5rem, 12vw + 3rem, 22rem);
      font-weight: variables.$black-font-weight;
    }

    &-description {
      font-size: 2rem;
    }
  }
}

.benefits {
  &__card {
    color: variables.$primary-white;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.heading-h4 {
  font-size: variables.$heading-h4;
  font-weight: variables.$bold-font-weight;
  text-transform: capitalize;
}

.footer {
  &__link,
  &__paragraph {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2.2rem;
  }

  &__copyright {
    color: variables.$tertiary-grey;
    font-size: 1.4rem;
  }

  &__link:link,
  &__link:visited {
    color: variables.$primary-black;
  }
}

.slider {
  &__paragraph {
    color: variables.$primary-white;
    font-size: variables.$heading-tertiary-font-size;
    line-height: clamp(1.7rem, 1.5vw + 1.7rem, 2.8rem);
  }
}

.catalog-header {
  &__number-line {
    color: variables.$primary-grey;
    font-size: variables.$smaller-font-size;
    text-transform: capitalize;
  }
}

.input-field,
.input-field::placeholder {
  font: variables.$smaller-font-size variables.$default-font-family;
  color: variables.$primary-grey;
}

.catalog-grid__set:link,
.catalog-grid__set:visited {
  color: variables.$primary-black;
}

.sets {
  color: variables.$primary-black;

  &--heading {
    font-size: variables.$default-font-size;
    font-weight: variables.$bold-font-weight;
  }

  &--description {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: variables.$default-font-weight;
  }
}

.header-banner__heading {
  font-size: variables.$heading-primary-font-size;
  font-weight: variables.$bold-font-weight;
  color: variables.$primary-white;
  text-transform: capitalize;
}

.team {
  &__name {
    text-transform: uppercase;
    font-weight: variables.$bold-font-weight;
    font-size: clamp(1.1rem, 1.5vw + 1.1rem, 2.2rem);
    line-height: clamp(1.8rem, 1.5vw + 1.8rem, 2.7rem);
  }
}

.heading-product {
  color: variables.$primary-black;
  font-size: variables.$heading-product-page;
  font-weight: variables.$bold-font-weight;
  line-height: 3.7rem;
  text-wrap-style: pretty;
}

.subheading {
  font-size: variables.$default-font-size;
  font-weight: variables.$bold-font-weight;
  line-height: 2.1rem;

  &--primary {
    color: variables.$primary-color;
  }

  &--grey {
    color: variables.$primary-grey;
  }
}

.remark {
  font-size: 1.3rem;
  line-height: 1.6rem;

  &--primary {
    color: variables.$primary-grey;
  }

  &--tertiary {
    color: variables.$tertiary-grey;
  }

  &--black {
    color: variables.$primary-black;
  }

  &--upper {
    font-weight: variables.$bold-font-weight;
    text-transform: uppercase;
  }
}

.product-info {
  &__payment {
    color: variables.$tertiary-grey;
    font-weight: variables.$bold-font-weight;
    font-size: 2.3rem;
  }
}

.heading-contact {
  font-size: 2.5rem;
  font-weight: variables.$bold-font-weight;
  text-transform: capitalize;
  padding-bottom: 2rem;
}

.empty-message {
  font-weight: variables.$bold-font-weight;
  color: variables.$tertiary-grey;
}

.cart {
  &__table {
    font-weight: variables.$bold-font-weight;
  }

  &__cell {
    @media screen and (width <= 768px) {
      font-size: clamp(1rem, 1vw + 1rem, 1.7rem);
    }
  }

  &__col-name {
    color: variables.$primary-white;
    text-transform: uppercase;
  }

  &__total {
    color: variables.$primary-white;
    font-weight: variables.$bold-font-weight;
    text-transform: capitalize;

    &--main {
      font-size: 2rem;
    }
  }
}
