@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero {
  background-color: variables.$bg-grey;
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
  z-index: 0;

  &__container {
    @include mixins.flex(space-between, center);
  }

  &__text-block {
    flex: 1 1 40%;

    & > *:not(:last-child) {
      padding-bottom: 3rem;
    }
  }

  &__image {
    flex: 1 1 48%;

    & > img {
      width: 100%;
    }
  }
}

.intro {
  margin-top: -10rem;
  position: relative;
  z-index: 1;

  &__container {
    display: grid;
    grid-template-columns: variables.$grid-2-columns;
    box-shadow: variables.$primary-shadow;
  }

  &__text {
    padding: 7.5rem 7rem;
    background-color: variables.$primary-white;
  }

  &__chief {
    @include mixins.flex(flex-start, center, 2.2rem);
    padding-bottom: 2.8rem;

    &-photo {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__description > *:not(:last-child) {
    padding-bottom: 2.9rem;
  }

  &__discount {
    background-image: url(../img/decorative/home-intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    align-content: center;
    padding: 7.5rem 7rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: variables.$overlay;
    }

    & > * {
      z-index: 1;
      position: relative;

      &:not(:last-child) {
        padding-bottom: 3rem;
      }
    }
  }
}

.testimonial {
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 2rem;
  }

  &__card {
    @include mixins.flex(flex-start, center, 2.4rem, column);
    padding: 4.5rem 4rem;
    box-shadow: variables.$primary-shadow;
  }

  &__name {
    margin-top: auto;
  }
}
